/*Intro Area */
*,
*::before
*::after {
  box-sizing: border-box;
}

:root{
  --clr-yellow: #febd33;
  --clr-gray: #1a1a1a;
  --clr-pinkish: #93156f;
  --clr-purple: #441a5e;
  --clr-blue: #0033ff;
  --clr-black: #0a0a0a;
  --clr-gradient: linear-gradient(110deg, rgba(2,1,25,1) 0%, rgba(40,66,47,1) 30%, rgba(9,79,46,1) 55%, rgba(7,77,64,1) 83%, rgba(13,1,14,1) 100%);
  --br: 1.5em;
  --clr-gradient2: linear-gradient(110deg, rgba(2,172,173,1) 0%, rgba(210,141,0,1) 30%, rgba(119,8,8,1) 55%, rgba(150,177,172,1) 83%, rgba(182,0,198,1) 100%);
}


/*Fonts Section */

/* CSS rules to specify families

    font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

@font-face {
	font-family:'WebNEC';
	src: url('../fonts/NEC.woff') format('woff');
}

@font-face {
	font-family: 'Sparrow';
	src: url('../fonts/Cordata.woff') format('woff');
}

@font-face {
	font-family: 'Olive';
	src: url('../fonts/Olivetti.woff') format('woff');
}

@font-face {
	font-family: 'Compaq';
	src: url('../fonts/Compaq.woff') format('woff');
}

/*Actual CSS :) */

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: var(--clr-gradient);
  background-size: 400%;
  animation: bg-move 30s infinite alternate;
}

/*BG anim */
@keyframes bg-move {
  0% {background-position: left}
  100% {background-position: right}
}

/*FadeIn Anim */
@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1}
}

/*Image zooms in load */
@keyframes ImageZoom{
  0% {scale: 0}
  100% {scale: 1}
}

/*Zoom Out on Icon when hovered */
@keyframes ZoomOut{
  0% {scale:1}
  100% {scale: 0.5}
}

a:hover{
	color: var(--clr-yellow);
	transition: 0.7s ease;
}

a:visited:hover{
  color: var(--clr-yellow);
	transition: 0.7s ease;
}

.myface{
  border-radius: var(--br);
  animation: ImageZoom 2s ease;
}

.my_name{
  color: var(--clr-yellow);
  font-family: 'WebNEC';
  font-weight: bold;
  text-align: center;
}

.title{
  color: var(--clr-yellow);
  font-family: 'WebNEC';
  font-weight: bold;
  text-align: center;
}

.grad_info{
  color: var(--clr-pinkish);
  font-family: 'Sparrow';
  font-weight: bold;
  text-align: center;
}

.about_me{
  color: var(--clr-yellow);
  font-family: 'Olive';
  text-align: center;
}

.linkedin, .email {
  color: var(--clr-pinkish);
  font-family: Compaq;
}

.icon{
  display: flex;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
}

.ending{
  margin: 2em;
  color: var(--clr-yellow);
  font-family: 'Sparrow';
  animation: fadeIn 5s;
  text-align: center;
}

.update{
  font-size: 0.75em;
  text-align: center;
  animation: fadeIn 7s;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

img{
  max-width: 100%;
}

.portbox{
  position:relative;
  width: 22.5em;
  animation: fadeIn 3s;
}

.whoami{
  display: flex;
  align-items: center;
}

.front{
  transition: 250ms;
}

.behind{
  opacity: 0;
  position: absolute;
  bottom: -37%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indepth{
  margin: 1.01em 0;
  columns: 2;
  column-rule: 2px solid rgba(255,255,.55,.25);
  text-align: center;
}

.jobs{
  text-align: center;
}

.job_info{
  color: var(--clr-pinkish);
  font-family: 'Sparrow';
  font-weight: bold;
}

.social_media{
  columns: 2;
  text-align: center;
  margin: 1em 0;
}

span{
  font-size: .75rem;
  display: block;
}

.job_location, .job_date{
  font-size: .45rem;
  display: block;
}

.btn{
  margin: .45em;
  cursor: pointer;
  border: 0;
  border-radius: 20vh;
  background-color: var(--clr-black);
  color:var(--clr-pinkish);
  padding: .5em 3em;
  font-family: 'Sparrow';
  font-size: 0.900rem;
}

.icon:hover{
  animation: ZoomOut 750ms ease;
  animation-fill-mode: forwards;
}

.bg{
  background: var(--clr-gray);
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(.2);
  transition: transform 250ms cubic-bezier(.21, 1.00, .90, 1.01);
  opacity: 0;
  border-radius: 1em;
}

.portbox:hover .bg{
  transform: scale(1.75);
  transition: opacity 250ms cubic-bezier(.21, 1.00, .90, 1.01);
  opacity: 1;
}

.portbox:hover .front{
  transform: translateY(-42%) scale(.75);
}

.portbox:hover .about_me{
  transform: scale(0);
}

.portbox:hover .behind{
  transition: opacity 400ms linear;
  opacity: 1;
}

footer{
  position: flex;
}

.homeaudio{
  display: none;
}
